<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title><%= siteName %>: Image gallery!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<% if (!user) { %>
	<p><a href="./api/auth/login/google">log in</a>.</p>
<% } else { %>
	<p><a href="./profile"><%= user.displayName %></a></p>
<% } %>

	<div class="container">
		<div class="jumbotron">
			<h1><%= siteName %></h1>
			<p class="lead">Image gallery</p>
		</div>
		<div>
		<form ref='uploadForm' 
			id='uploadForm' 
			action='/api/upload' 
			method='post' 
			encType="multipart/form-data">
				<input type="file" name="fileUpload" accept="image/*" />
				<input type='submit' value='Upload!' />
			</form>  
		</div>
		<div class="footer">
			<p>&copy; <%= siteName %> <%= new Date().getFullYear() %></p>
		</div>
	</div> <!-- /container -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>